.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*password-field*/ 

#passwordField {
  position: absolute;
  position: relative; /* Essential for absolute positioning of the icon */
  display: inline-block; /* Or width: fit-content if you want it to shrink wrap */
  width: 100%;
}


.password-toggle {
  position: absolute;
  top: 50%;
  right:10px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.eye-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -96px;
  right:1px;

}


#container{
  height:100vh;
  width: 100%;
  background-color:pink;
}

.body{
  background-color: lightblue;
  width: 100%;
  height: 100vh;
}
